

/* .loader-bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50% - 75px);
   
}  


  .loader::before,
 .loader::after {
     content: '';
    
     width: inherit;
     height: inherit;
     position: absolute;
     top: 0;
     left: 0;
     animation: loader 2s linear infinite;
     opacity: 0;

 }

 .loader::before {
    animation-delay: .5s;
}

.loader>h1{

    
}   

 @keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}     */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: #fdf8ee;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar>a {
    text-decoration: none;
    color: black;
}

.section {
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: space-between; */
    padding: 0 10px;
}

.section>a {
    text-decoration: none;
    padding-left: 10px;
    color: black;
    font-weight: 600;
}

.therd-nav {
    min-width: 400px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.input {
    width: 94%;
    height: 100%;
    padding: 10px;
    border: none;
    background-color: #fdf8ee;
    /* border: 1px solid black; */
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: none;
}

.input:hover {
    /* background-color: #fdf8ee; */

}

.logo {
    font-size: 20px;
    padding: 8px;
    background-color: #fdf8ee;
    /* border: 1px solid black; */

    /* border-radius: 2px ; */
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    /* border-top-right-radius: 2px; */
    /* border-bottom-right-radius: 2px; */
    cursor: pointer;
}

.logo2 {
    font-size: 20px;
    padding: 8px;
    /* border: 1px solid black; */


}

.nav-box {
    height: 60px;
    width: 160px;
    border: 2px solid black;
    background-color: #fdf8ee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.nav-box:hover {
    color: white;
    background-color: rgb(102, 50, 12);


}

.icon4 {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.icon4>i {
    margin-left: 17px;
    font-size: 24px;
}

.icon4>i:hover {
    color: blue;
    cursor: pointer;
}

.menu {
    display: none;
}


/* poetry box  */


.box-poerty{
    /* height: 100vh; */
    width: 100%;
    /* background-color: red; */
}


.box-pp{
    height: 280px;
    width: 100%;
    /* background-color: aqua; */
    border-bottom: 2px solid black;
    color: #aa5128;
    position: relative;
    /* margin-left: 100px; */
    text-align: center;
    /* left: 100px; */
}

.box-pp>h2{
    position: relative;
    top: 120px;
    /* margin-left: 100px; */
    /* left: 100px; */
}

.paragraph{
    /* height: 100vh; */
    width: 100%;
    background-color: rgb(195, 134, 134);
   /* display: inline-block; */
}

.paragraph>h3{
    position: relative;
    top: 40px;
    text-align: center;
    /* margin-left: 100px; */
    /* left: 100px; */
}

.paragraph>p{
    position: relative;
    /* top: 70px; */
    /* margin-left: 100px; */
    text-align: center;
    /* margin-top: 40px; */
    /* left: 100px; */
}


.child-box{
    width: 100%;
     
    margin-top: 60px;
    text-align: center;
}

.child-box>p{
    /* height: 600px; */

    /* background-color: aqua; */
    margin-top: 40px;
}

.av{
    /* position: relative; */
    /* top: 20px; */
    text-align: center;
}
.av>h3{
    position: relative;
    top: 40px;

}
/* footer  */





.footer-parent {
    height: 350px;
    width: 100%;
    background-color: #FFF4E6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-top: 100px; */

}

.child-footer {
    height: 200px;
    width: 50%;
    background-color: #FFF4E6;
    border: 1px solid black;
    /* text-align: center; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 30px;

}

.child-footer>h6 {
    position: relative;
    top: 15px;
    color: #93573B;
}

.child-footer>h1 {
    color: #93573B;
}

.plac {
    width: 400px;
    height: 40px;
}

.box-plac {
    height: 40px;
    width: 100px;
    /* border: 2px solid black; */
    position: relative;
    left: 249px;
    bottom: 40px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(102, 50, 12);
    color: white;


}

.box-plac>h4 {
    position: relative;
    top: 7px;

}

.checkbox {
    position: absolute;
    top: 110px;
    left: 180px;
    font-size: 60px;

}

.sp {
    color: blue;
}

.text {
    position: absolute;
    top: 110px;
    cursor: pointer;
}


/* last footer  */

.last-fotter {
    height: 450px;
    background-color: #FFF4E6;
    text-align: center;
}

.child-foot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.child-foot>h3{
  position: relative;
  bottom: 30px;
}

.child-foot>ul>li {
    list-style-type: none;
    position: relative;
    top: 60px;
    margin-top: 15px;
    /* right: 200px; */
    color: #93573B;
    text-align: center;
}

.child-foot>ul{
   position: relative;
   top: 20px;
}
.span1{
    position: relative;
    left: 40px;
}


.span2{
    position: relative;
    left: 40px;
}

.span3 {
    position: relative;
    left: 50px;
}

.span4 {
    position: relative;
    left: 40px;
}

.span5 {
    position: relative;
    left: 23px;
}

.box4 {
    height: 50px;
    width: 50%;
    background-color: aqua;
}

/* footer resposive  */

#id1{
   position: relative;
   margin-bottom: 30px;
   bottom: 30px;
   left: 70px;
  
   /* right: 200px; */
   color: #93573B;
   margin-left: 50px;
}

#id2{
   position: relative;
   bottom: 43px;
   left: 100px;
   color: #93573B;
 


}

#id3{

   position: relative;
   bottom: 43px;
 margin-right: 10px;
   /* margin-bottom: 30px; */
   left: 100px;
   font-weight: 700;
   color:#93573B;
}

.rd3{
   position: relative;
   bottom: 30px;
   margin-bottom: 16px;
}


.input3{
   /* width: 100%; */
   position: absolute;
  right: 80px;
  top: 1750px;
 
}


.inp{
   width: 300px;
   height: 40px;
   position: absolute;
   right: 1px;
   /* margin-bottom: 500px; */
   /* bottom: 300px; */
   top: 200px;

}

.inp1{
   width: 300px;
   height: 40px;
   position: absolute;
   right: 1px;
   /* margin-bottom: 500px; */
   /* bottom:50px; */
   top: 260px;
   /* top: 80px; */

}

.inp2{

   width: 300px;
   height: 120px;
   position: absolute;
   /* right: 5px;
   top: 150px; */
   top: 320px;

   right: 1px;
   /* margin-bottom: 500px; */
   /* bottom: 100px; */
   /* top: 5px; */


} 

#btn{
   height: 50px;
   width: 170px;
   /* border: 2px solid black; */
   background-color:#FFF4E6 ;
   display: none;
}

.btn3{
    height: 50px;
    width: 100%;
    background-color: #93573B;
    border: 2px solid black;
    position: absolute;
   top: 2250px;
   /* bottom: 0; */
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   border-radius: 10px;
   cursor: pointer;
}


.btn3:hover{
    background-color: #aa5128;
}

.child-foot>ul{
    position: relative;
    top: 40px;
}


/* poerty box  */


@media (min-width:320px) and (max-width:1300px) {

    .loader>h1 {
        font-size: 50px;
        text-align: center;
        position: relative;
        bottom: 37px;
    }

    .box-poerty{
        /* height:1000px; */
       
        width: 100%;
    }

    .box-pp{
     
       margin-left: 0;
       height: 200px;
        width: 100%;
        text-align: center;
        
    }
    .box-pp>h2{
        /* position: absolute; */
        margin-left: 0;
        text-align: center;
        position: relative;
      top: 80px;
      /* position: absolute; */
       
    }
    .paragraph{
        height: 100%;
       background-color: #fdf8ee;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
    }
    .paragraph>h3{
        position: absolute;
        top: 350px;
      


    }

    .child-box{
      position: relative;
      top: 10px;
        /* background-color: rgb(144, 224, 224); */
    }

    .child-box>p{
        margin-top: 30px;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 50px;
        /* padding: 20px 0px; */
       
    }
    .av{
        position: relative;
        top: 40px;
    }
    .av>h3{
       /* margin-bottom: 200px; */
       
    }






}

/* navbar  */
@media (min-width:320px) and (max-width:1300px) {

    .navbar {
        width: 100%;
        height: 120px;
    }

    .section {

        width: 100%;
        height: 60%;
        position: absolute;
        flex-direction: column;
        background-color:white;
        /* position: relative; */
        left: -100%;
        top: 0;
        z-index: 100;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
   
        
    }

    /* .section>a{
        text-align: center;
        position: relative;
        top: 50px;
        
        
    } */

    .section.active{
        left: 0;
     }

     .section>a{

        margin-top: 10px;
     /* flex-direction: column; */
        
        
     }

    .menu{
        z-index: 1500;
     }

    .navbar>a {
        font-size: 10px;
        position: absolute;
        top: 8px;

    }

    .therd-nav {
        min-width: 300px;
        position: relative;
        top: 10px;
    }

    .loader>h1 {
        font-size: 50px;
        text-align: center;
    }

    .nav-box {
        display: none;
    }

    .icon4 {
        display: block;
        position: absolute;
        right: 2%;
        top: 35px;
        /* font-size: 10px; */


    }

    .icon4>i {
        font-size: 20px;
        margin-top: 22px;
    }

    .menu {
        display: block;
        position: absolute;
        left: 2%;
        top: 55px;
        font-size: 18px;
    }

    #logo4 {
        display: none;
    }



    .section {

        width: 100%;
        height: 60%;
        position: absolute;
        flex-direction: column;
        background-color:white;
        /* position: relative; */
        left: -100%;
        top: 0;
        z-index: 100;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    
        
    }
    
    /* .section>a{
        text-align: center;
        position: relative;
        top: 50px;
        
        
    } */
    
    .section.active{
        left: 0;
     }
    
     .section>a{
    
        margin-top: 10px;
     /* flex-direction: column; */
        
        
     }
    
    .menu{
        z-index: 1500;
     }


}







/* footer  */

@media (min-width:320px) and (max-width:1300px) {

    .box>i{
        position: absolute;
        left: 20px;
    }
}


@media (min-width:320px) and (max-width:1300px) {

    .footer-parent {
       /* height: 50%; */
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 40px; */
    }

    .child-footer {
        width: 100%;
        
    }


    .child-footer>h1 {
        font-size: 20px;

    }

    .child-footer>h6{
       text-align: center;
    }

    .plac {
        width: 255px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 55px;
    }

    .box-plac {
        position: relative;
        left: 127px;
        top: 0px;
        /* bottom: 10px; */
        width: 100px;
    }

    .checkbox {
        left: 0;
    }

    .last-fotter {
        width: 100%;
        margin-top: 30px;
        position: absolute;
    }

    .child-foot {
        /* flex-direction: column; */
        /* position: absolute; */
       
    }

    #id1{
        position:relative;
       margin-top: 10px;
       font-size: 10px;
       margin-bottom: 45px;
      left: 0px;
      font-weight: 700;
      color: black;
      width: 60px;
      /* text-align: center; */

    }

    .child-foot>ul>li {
        position: relative;
        top: 45px;
        font-size: 9px;
        font-weight: 700;
        text-align: center;

    }

    .text {
        position: absolute;
        left: 20px;
    }

    .box-plac {
        position: absolute;
        left: 257px;
        top: 55px;
    }





    .span1 {
        position: relative;
        left: 30px;


    }

    .span2 {
        position: relative;
        left: 35px;
        bottom: 10px;
    }

    .span4 {
        position: relative;
        left: 26px;
    }

    .span5 {
        position: relative;
        left: 40px;
        bottom: 10px;
    }

    .span3 {
        position: relative;
        left: 30px;

    }


    #id2 {
       position: relative;
       left: 65px;
       font-size: 10px;
     /* margin-bottom: 30px; */
     bottom: 50px;
     color: black;

    }

    #id3 {
        position: relative;
        left: 48px;
        font-size: 10px;
      margin-bottom: 16px;
      font-weight: 700;
      color: black;
    }

    .child-foot>ul{
       position: relative;
      margin-bottom: 35px;
    }

    .rd3{
       position: relative;
       right: 15px;
    }

    #btn{
       width:100%;
      background-color: #93573B;
       position: relative;
       top: 70px;
       /* left: 100px; */
       border-radius: 10px;
       display: block;
       /* text-align: center; */
       color: white;
       display: flex;
       align-items: center;
       justify-content: center;

    }
   

    .last-fotter{
       height: 60%;
    }
    .lt{
       position: relative;
       right: 56px;
    }
   .car{
       position: relative;
      right: 56px;
      /* font-size: 13px; */
      /* font-weight: 700; */
   }

   .input3{
    display: none;
   }
   .btn3{
    display: none;
   }

   .t6{
    display: none;
   }

}


/* footer end  */


